* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-image: url("/src/assets/img/sunset-clouds1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  z-index: -1;
}

#wxstandard {
  background-color: transparent;
  position: absolute;
  width: 200px;
  height: 40px;
  color: #fff;
  left: calc(50% - 100px);
  top: 30%;
  font-family: $font-family-std;
  text-decoration: none;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  // border-radius: 3%;
  // flex =======
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    background-color: rgba(0, 191, 255, 0.8);
  }
}

#wxpilot {
  @extend #wxstandard;
  top: 60%;
}

#wxstandard:hover {
  z-index: 2;
  &:before {
    animation: move 0.5s ease-in-out forwards;
    z-index: -1;
  }
}
@keyframes move {
  0% {
    width: 0;
  }
  100% {
    width: 200px;
  }
}

// ====================== APPWX

.container {
  @extend .wrapper;
  // flex
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .box {
    position: relative;
    background-color: $skyColor;
    border: 2px solid rgba(255, 255, 255, 0.5);
    flex-basis: 30%;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    .wxdesc {
      position: relative;
      top: 45%;
      width: 80%;
      margin: auto;
      text-align: center;
      font-family: $font-family-std;
      font-size: 1rem;
      line-height: 1.5rem;
      color: white;
    }
    h2 {
      margin-top: 1rem;
      color: rgb(255, 255, 255);
    }
    .iconswx {
      position: relative;
      width: 100px;
      height: 100px;
      top: -10%;
      left: calc(50% - 50px);
      text-align: center;
      // background-color: $skyColor;
      img {
        z-index: 3;
      }
    }
  }
}
#wxDescriptionKrk,
#wxDescriptionKtw,
#wxDescriptionWaw,
#wxDescriptionPoz,
#wxDescriptionWro,
#wxDescriptionGdn {
  position: relative;
  top: 35%;
  text-align: center;
  font-family: $font-family-std;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.metarBox {
  position: relative;
  top: 20%;
  text-align: center;
  font-family: $font-family-std;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}
.metarFR {
  position: absolute;
  top: 50%;
  width: 100px;
  left: calc(50% - 50px);
}
